$primary-font-size: 14px;
$primary-color: #343645;
$secondary-color: #22C341;
$paragraph-color: #6B7681;

$title-size-xl: 40px;
$title-l-height-xl: 52px;

$title-size-md: 32px;
$title-l-height-md: 40px;

$title-size-sm: 24px;
$title-l-height-sm: 34px;

